body{
    font-family: 'Montserrat', sans-serif;
}
main {
    max-width: 1200px;
    margin: auto;
}
@media(min-width: 920px) {
    body {
        background-image: url('/public/images/vector.svg'),
                          url('/public/images/Linhas.svg');
        background-repeat: no-repeat, 
                          repeat-x;
        background-position: right -300px top;

    }
}